.cld-main {
  width: 400px;
  font-family: montserrat, arial;
}
.cld-main a {
  color: #e3000f;
  font-weight: 600;
}
.cld-main svg {
  fill: #e3000f;
}
.cld-datetime {
  position: relative;
  width: 66%;
  min-width: 100px;
  max-width: 300px;
  margin: auto;
  overflow: hidden;
}
.cld-datetime .today {
  position: relative;
  float: left;
  width: calc(100% - 40px);
  margin: auto;
  text-align: center;
  font-weight: 800;
}
.cld-nav {
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 2px;
}
.cld-nav:hover {
  cursor: pointer;
}
.cld-nav:hover svg {
  fill: #005eff;
}
.cld-rwd {
  float: left;
}
.cld-fwd {
  float: right;
}
.cld-nav svg:hover {
}
.cld-labels,
.cld-days {
  padding-left: 0;
  margin: 0;
}

.cld-labels {
  font-weight: 800;
  background: #e3000f;
  color: white;
  padding: 15px 0px;

  border-radius: 5px;
}
.cld-label,
.cld-day {
  box-sizing: border-box;
  display: inline-block;
  width: 14.28%;
  text-align: center;
}
.cld-day {
  border: 1px solid #eee;
}
.cld-day.today .cld-number {
  background: #e3000f;
  color: #fff;
}
.cld-day.disableDay {
  opacity: 0.5;
}
.cld-day.nextMonth,
.cld-day.prevMonth {
  opacity: 0.33;
}
.cld-number {
  position: relative;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
}
.events {
  position: absolute;
  z-index: 5;
  display: none;
  top: 35px;
  left: 0;
  padding: 10px 15px;
  background: #fff;
  white-space: nowrap;
  border: 1px solid #e3000f;
  border-radius: 0px;
  font-size: 14px;
}

.events a {
  text-decoration: none;
}
.cld-title {
}

.cld-title:before {
  content: "— ";
  font-weight: 800;
}

.cld-number.eventday:hover .events {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.eventday .events::before {
  content: "";
  position: absolute;
  top: -7.5px;
  left: 15px;
  width: 0;
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;

  border-bottom: 7.5px solid #e3000f;
}
.cld-number.eventday {
  font-weight: 600;
  color: #e3000f;
  border: 1px solid #e3000f;
}
.cld-number.eventday:hover {
  cursor: pointer;
  background: #eee;
}
.today .cld-number.eventday:hover {
  background: #005eff;
}
